<div class="row">
    <div class="com-xs-12">
      <form>
        <div class="row">
          <div class="col-xs-12">
            <app-produts (onqty)="quantity($event)" [onAmount]="showAmount()"></app-produts>
            <label>Quantity:{{qty}}</label>
          </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-primary m-2" type="button" (click)="onIncrement()">+</button>
              <button class="btn btn-primary m-2" type="button" (click)="onDecrement()">-</button>
            </div>
          </div>
      </form>
    </div>
  </div>
